bin/*
./Makefile
./command/Makefile
./modules/drivers/serialio/Makefile
./modules/drivers/keyb/Makefile
./modules/drivers/speaker/Makefile
./modules/drivers/test/Makefile
./modules/drivers/pic/Makefile
./modules/drivers/floppy/Makefile
./modules/drivers/sb16/Makefile
./modules/drivers/ata/Makefile
./modules/drivers/atapi/Makefile
./modules/drivers/pci/Makefile
./modules/drivers/clock/Makefile
./modules/drivers/mouse/Makefile
./modules/drivers/pit/Makefile
./modules/drivers/null/Makefile
./modules/drivers/console/Makefile
./modules/filesystems/fat/Makefile

